.card-text {
    text-align: justify;
}

.card img {
    /* padding-left: 10px; */
    height: 450px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#team-title {
    font-size: 5.0vh;
    padding-top: 25px;
}

.divider {
    border-left: 1px solid;
}

@media (max-width: 600px) {
    .divider {
        border-top: 1px solid;
        border-left: none;
    }
    #team-title {
        padding-top: 50px;
    }
}

#map {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.navbar-brand {
    font-family: 'Work Sans', san-serif;
    font-size: 20px;
}

.container-fluid {
    padding: 0 !important;
}

.container {
    position: relative;
    padding-bottom: 3rem;
    min-height: 100%;
}

.content {
    margin-top: 60px;
    padding-bottom: 3rem; 
    font-size: 15px;
    /* margin-bottom: 50px; */
}
div p {
    word-break: normal;
    /* font-size: 15px; */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h2 {
    text-align: center;
}

h2, h3 {
    font-weight: bold;
}