{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>What is HAB?</h4>
    <p>Harmful Algal Bloom (HAB) is used to describe a proliferation of algae, or phytoplankton. Severe blooms of even
        non-toxic algae can spell disaster for cultured animals, because blooms deplete the oxygen in the shallow waters
        of many aquaculture systems. </p>
    <p>HABs can cause serious economic losses in aquaculture if they kill cultured organisms or cause consumers concern
        about food safety.</p>
    <p>Banrie (2013). Algal Toxins in Pond Aquaculture. Ireland: Hatch Accelerator Holding Limited. Retrieved from
        https://thefishsite.com/articles/algal-toxins-in-pond-aquaculture
    </p>
</div>
{% endblock %}