{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div id='map' style='width: 100%; height: 535px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obmNoZXciLCJhIjoiY2sycnMwM3kyMHRlcTNjcXZ4YW81YXVpbiJ9.mgDl1jOPlzBDH8znbDRkeA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/johnchew/ckfv0gxhl0vo219mlz8f2g8v1', // stylesheet location
            center: [123.068848, 10.833306], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });
    </script>
</div>
{% endblock %}
