<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dali Llama</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal" style='color:white'>Dali Llama</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-light" href="/team">Meet the Team</a>
        </nav>
        <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
    </div>

    <div class="team-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Team Members</h1>
    </div>

    <div class="container">
        <div class="card-deck mb-2 text-center">
            <div class="card mb-2 shadow-sm" style="width: 300px;">
                <img class="card-img-top" src="static/images/KL_cropped.png" alt="KL">
                <div class="card-body">
                    <p class="card-text"><b>Kim Lee</b> is the co-founder and CEO of DaliPay, a contactless tech startup
                        that uses palm scanning with blockchain security for payments. Popularly known as KL, this
                        Filipino-Chinese uses her longtime talents of writing, storytelling, and digital marketing to
                        inspire and help others through innovation and social impact.</p>

                </div>
            </div>

            <div class="card shadow-sm" style="width: 300px;">
                <img class="card-img-top" src="static/images/John_cropped.png" alt="John">

                <div class="card-body">
                    <!-- <h4 class="card-title">Rodney Mandap</h4> -->
                    <p class="card-text"><b>John Chew</b> s the co-founder and CTO of DaliPay. He is a 19-year-old
                        student of BS Physics. This Filipino-Chinese continues to explore his childhood interest in
                        robotics, and his passion for tech and machine learning led him to be a Google Code-in 2017 &
                        2018 Finalist, NASA Space Apps Manila Hub 2019 - Best Mission Concept, and Ambassador at the New
                        York Academy of Sciences.</p>

                </div>
            </div>

            <div class="card mb-2 shadow-sm" style="width: 300px;">
                <img class="card-img-top" src="static/images/Rod_cropped.png" alt="Rod">
                <div class="card-body">
                    <!-- <h4 class="card-title">Rodney Mandap</h4> -->
                    <p class="card-text"><b>Rodney Mandap</b> is the co-founder and CIO of DaliPay. He is a DevOps
                        Engineer where he writes codes and configures servers. In 2019, he was awarded the CIS UK
                        Innovation Award in his personal project.</p>

                </div>
            </div>
        </div>

        <div class="card-deck mb-2 text-center">
            <div class="card mb-2 shadow-sm" style="width: 300px;">
                <img class="card-img-top" src="static/images/Maddi_cropped.png" alt="Maddi">
                <div class="card-body">
                    <!-- <h4 class="card-title">Rodney Mandap</h4> -->
                    <p class="card-text"><b>Niña Dizon</b> is the co-founder and CFO of DaliPay. Also known as Maddi,
                        she currently works in a government bank as a bond trader, where she does research and executes
                        the buying and selling of Philippine government securities. She also got certified as a money
                        market dealer at the Ateneo de Manila University and is currently a 2021 Level II CFA Candidate.
                    </p>
                </div>
            </div>
            <div class="card mb-2 shadow-sm" style="width: 300px;">
                <img class="card-img-top" src="static/images/Erwin_cropped.png" alt="Erwin">
                <div class="card-body">
                    <!-- <h4 class="card-title">Rodney Mandap</h4> -->
                    <p class="card-text"><b>Erwin Lizarondo</b> is the business development head of DaliPay, where he
                        co-leads its ventures and social aspects. His expertise and devotion to social impact led him to
                        be one of the recognized speakers for the Asian Development Bank (ADB), Asian Institute of
                        Management (AIM), and United Nations Development Programme (UNDP), among many others.</p>

                </div>
            </div>
            <div class="card mb-2 shadow-sm" style="width: 300px;">
                <!-- <img class="card-img-top" src="static/images/Rod_rect.png" alt="Rod"> -->
                <div class="card-body">
                    <!-- <h4 class="card-title">Rodney Mandap</h4> -->
                    <p class="card-text"><b>Althea Bata</b> is an 18-year old student who studied Information and
                        Communication Technology at the Asian Institute of Computer Studies. She is a Redcross Youth
                        Volunteer for Rizal Chapter, COVID-19 frontliner, and Secretary of Good Hearts Foundation for
                        the Babies.</p>

                </div>
            </div>
        </div>

    </div>
    </div>

    <footer class="border-top">
        NASA Space Apps Challenge - Powered by Team Dali Llama
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>