{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <img src="static/images/fishing.png" style="width: inherit; height: 500px;">
                </div>
                <div class="col-md-6">
                    <br>
                    <p>According to the Census of Fisheries, the vast majority of municipal fishing operations in the Philippines is 1.75 million or 98.4% that are individually operated. </p>
                    <p>Fishermen communities are considered the “poorest among the poor”. Low incomes can be attributed to declining fish catch, estimated to be about 2 kg per day, down from 20 kg that was the average daily catch during the 1970s.</p>
                    <p>Only 2 weeks ago, it was in the news headlines that Eastern Visayas, the tahong capital of the Philippines, experienced a red tide. “This is very difficult for us because this came at the time when there is COVID pandemic,” said Rey Nablo, a 40-year old fisherman.</p>
                    <p>Tahong forms the backbone of the local economy, not only from the daily income that it brings, but from the jobs it generates. When there is no red tide in Samar, at least 200 sacks of green mussels are harvested daily and are bought by traders at P1,500 each. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}